<h2 class="page-header text-center"><%= @user.family_name+@user.first_name%>さんの会員情報編集</h2>

<div class="row text-center">

    <%= form_for @user, url:admin_client_user_path(@user) do |f| %>

    <h4 class="col-xs-4 text-right">会員ID</h4>
    <h4 class="col-xs-8"><%= @user.id %></h4>

    <div class="form-group">
        <h4 class="col-xs-4 text-right">氏名</h4>
        <%= f.text_field :family_name %>　<%= f.text_field :first_name %>
    </div>
    <div class="form-group">
        <h4 class="col-xs-4 text-right">フリガナ</h4>
        <%= f.text_field :kana_family_name %>　<%= f.text_field :kana_first_name %>
    </div>
    <div class="form-group">
        <h4 class="col-xs-4 text-right">郵便番号</h4>
        <%= f.text_field :postal_code %>
    </div>
    <div class="form-group">
        <h4 class="col-xs-4 text-right">住所</h4>
        <%= f.text_field :address %>
    </div>
    <div class="form-group">
        <h4 class="col-xs-4 text-right">電話番号</h4>
        <%= f.text_field :tel %>
    </div>
    <div class="form-group">
        <h4 class="col-xs-4 text-right">メールアドレス</h4>
        <%= f.email_field :email %>
    </div>
    <div class="form-group">
        <h4 class="col-xs-4 text-right">会員ステータス</h4>
        <label><%= f.radio_button :delete_status, false %>有効</label>　<label><%= f.radio_button :delete_status, true %>退会済み</label>
    </div>

    <div><%= f.submit "変更を保存する", class:"btn btn-primary"%></div>


    <% end %>

</div>