<h2 class="page-header text-center">会員一覧画面</h2>

	<table class="table text-center">
		<thead>
			<tr class="info">
				<th class="text-center">会員ID</th>
				<th class="text-center">氏名</th>
				<th class="text-center">メールアドレス</th>
				<th class="text-center">ステータス</th>
			</tr>
		</thead>

		<% @client_users.each do |user| %>
			<tbody>
				<tr>
					<td><%= user.id %></td>
					<td><%= link_to user.family_name+user.first_name, admin_client_user_path(user.id) %></td>
					<td><%= user.email %></td>
					<td><% if user.delete_status == true %>
								<%= "退会済み" %>
							<% else %>
								<%= "有効" %>
							<% end %>
					</td>
				</tr>
			</tbody>
		<% end %>
	</table>
	<%= paginate @client_users %>