
<div class="center-block" style="width: 256px; text-align: center; background-color: #EEFFFF; border: 1px solid gray;">
  <h2>新規会員登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table>
      <tr>
        <div class= "field-form">
          <div class='field'>
            <%= f.label :"(性) " %>            
            <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
          </div>
        </tr>
        <tr>
          <div class='field'>
            <%= f.label :"(名) " %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </div>
        </tr>
      <tr>
        <td>
          <div class='field'>
            <%= f.label :"(セイ)" %>
            <%= f.text_field :kana_family_name, autofocus: true, autocomplete: "kana_famly_name" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class='field'>
            <%= f.label :"(メイ)" %>
            <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
          </div>
        </td>
      
      <tr>
        <td>
          <div class="field">
            <%= f.label :"郵便番号(ハイフンなし)" %>
            <%= f.text_field :postal_code %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= f.label :"メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= f.label :"  ご住所情報（マンション名まで）     " %>
            <%= f.text_field :address %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= f.label :"電話番号(ハイフンなし)" %>
            <%= f.text_field :tel %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= f.label :"password" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 6文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="field">
            <%= f.label :"password(確認用)" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </td>
      </tr>
    </table>
      <div class="actions">
        <%= f.submit "新規登録" ,class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3>既に登録済みの方</h3>
    <h5><%= link_to("こちら", new_client_user_session_path) %>からログインください<h5>
</div>