<div class="text-center">
    <h2 class="page-header text-center">商品一覧画面</h2>

    <%= link_to "商品新規登録", new_admin_product_path, class:"btn btn-primary" %>

    <table class="table table-striped table-inverse">
        <thead>
            <tr>
                <th class=" col text-center">商品ID</th>
                <th class=" col text-center">商品名</th>
                <th class=" col text-center">税抜価格</th>
                <th class=" col text-center">ジャンル</th>
                <th class=" col text-center">ステータス</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td class="col text-center"> <%= product.id %></td>
                <td class="col text-center"><%= link_to product.name, admin_product_path(product.id) %></td>
                <td class="col text-center">¥ <%= product.price_excluding %></td>
                <td class="col text-center"><%= product.genre.name %></td>
                <td class="col text-center">
                    <% if product.out_of_stock == false %>
                    販売中
                    <% else %>
                    販売中止
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @products %>
</div>
