<div class="contents">
    <div class="title">
        <h1>注文履歴詳細</h1>
    </div>

    <div class="order_show">
        <h2>購入者　　　　　　<%= link_to @order.client_user.family_name+@order.client_user.first_name%></h2>
        <h2>配送先　　　　　　<%= @order.shipping_address %></h2>
        <h2>支払い方法　　　　<%= @order.payment_flg %></h2>
        <h2>注文ステータス　　
            <%= form_for @order, url:admin_client_user_order_path(@order.id) do |f| %>
            <%= f.select :status_flg, Order.status_flgs.keys.to_a %>
            <%= f.submit "更新" %>
            <% end %>
        </h2>
    </div>

    <div class="item_table">
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th>製作ステータス</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                <% @items.each do |item| %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= (item.price*$tax).ceil %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.price*item.quantity*$tax %></td>
                    <td><%= item.production_status %></td>
                    <td>
                    <%= form_with url:admin_client_user_order_order_item_path(item.order_id, item.id) do |form| %>
                        <%= form.select :production_status, OrderItem.production_statuses.keys.to_a %>
                        <%= form.submit "更新" %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="price_field">
        <h3>商品合計　　　　　　　<%= @total_price %></h3>
        <h3>送料　　　　　　　　　<%= @order.charriage %></h3>
        <h3>請求金額合計　　　　　<%= @order.billing_amount %></h3>
    </div>

</div>