
<h1>ジャンル編集画面</h1>

	<table class="table">ジャンル

		<%= form_tag(@genres_path, method: "get") do %>
 		<%= select_tag "submit_name", options_for_select([["プリン", "プリン"],["ケーキ","ケーキ"],["クッキー","クッキー"],["和菓子","和菓子"]]) %>
		<% end %>

		<%= form_with(model:@genres, local: true) do |form| %>
  			<%= form.radio_button :delete_status, :unavailable %>
  			<%= form.label :delete_status, "無効", {value: :unavailable, style: "display: inline-block;"} %>
  			<%= form.radio_button :delete_status, :availability %>
  			<%= form.label :delete_status, "有効", {value: :availability, style: "display: inline-block;"} %>
			<div class="btn btn-primary" >変更を保存する</div>
		<% end %>
<<<<<<< HEAD
	</table>
=======
	</div>
>>>>>>> df693fc5e142a3296e1204c9ff81cf80525855f5
