
<div class ="container">

	<h2>注文情報</h2>

	<%= form_for(@order, url: { controller: 'orders', action: 'order_check'}, html:{method:'get'} ) do |f| %>
		<div>
			<h3>支払い方法</h3>
			<%= f.radio_button :payment_flg, 0 %>クレジットカード<br>
			<%= f.radio_button :payment_flg, 1 %>銀行振込<br>
		</div>

		<div>
			<h3>お届け先</h3>
			<%= radio_button_tag :address_selection, 0 %>ご自身の住所<br>
			<%= @client_user.postal_code %>
			<%= @client_user.address %>
			<%= @client_user.family_name %>
			<%= @client_user.first_name %><br>

			<%= radio_button_tag :address_selection, 1 %>登録済住所から選択<br>
			<%= collection_select(:address, :address_id, @addresses, :id, :full_address, {:include_blank => true }) %><br>

			<%= radio_button_tag :address_selection, 2 %>新しいお届け先<br>

			<table>
				<tr>
					<td>郵便番号(ハイフンなし)</td>
					<td><%= f.text_field :postal_code %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= f.text_field :shipping_address %></td>
				</tr>
				<tr>
					<td>宛名</td>
					<td><%= f.text_field :shipping_name %></td>
				</tr>
				<tr>
					<td><%= f.submit "注文確認" %></td>
				</tr>
			</table>
		</div>
	<% end %>
</div>
