<h1>Orders#order_check</h1>
<p>Find me in app/views/orders/order_check.html.erb</p>

<h1>注文情報確認</h1>

	<%= form_with(model:[@client_user,@order], local: true) do |f| %>
		<div class="col-xs-6">
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
					</tr>
				</thead>

				<tbody>
					<% @carts.each do |cart| %>
						<tr>
							<td><%= cart.product.name %></td>
							<td><%= @price = (cart.product.price_excluding * @TAX).ceil %></td>
							<td><%= cart.quantity %></td>
							<td><%= @price * cart.quantity %></td>
						</tr>
						<% @total %>
						<% @total_quantity %>
					<% end %>
					<%= f.hidden_field :total_quantity , :value => @total_quantity %>
				</tbody>
			</table>
		</div>

		<div class="col-xs-2">
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>送料</th>
						<td>800</td>
						<%= f.hidden_field :charriage , :value => "800" %>
					</tr>
					<tr>
						<th>商品合計</th>
						<td><%= @total %></td>
					</tr>
					<tr>
						<th>請求金額</th>
						<td><%= @total + 800 %></td>
						<%= f.hidden_field :billing_amount , :value => @total + 800 %>
					</tr>
				</thead>
			</table>
		</div>

		<div class="col-xs-9">
			<h2>お支払い方法</h2>
			<%= @payment %>
			<%= f.hidden_field :payment_flg , :value => @payment_flg %>
			<h2>お届け先</h2>
			<%= @postal_code %>
			<%= f.hidden_field :postal_code , :value => @postal_code %>
			<%= @shipping_address %>
			<%= f.hidden_field :shipping_address , :value => @shipping_address %>
			<%= @full_name %><br>
			<%= f.hidden_field :shipping_name , :value => @full_name %>
		</div>

		<div class="col-xs-9">
			<%= f.submit %>
		</div>
	<% end %>
