<h1>Orders#order_check</h1>
<p>Find me in app/views/orders/order_check.html.erb</p>

<h1>注文情報確認</h1>

	<div class="col-xs-6">
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>

			<tbody>
				<% @carts.each do |cart| %>
					<tr>
						<td><%= cart.product.name %></td>
						<td><%= @price = (cart.product.price_excluding * @TAX).ceil %></td>
						<td><%= cart.quantity %></td>
						<td><%= @subtotal = @price * cart.quantity %></td>
					</tr>
					<% @total = @total + @subtotal %>
				<% end %>
			</tbody>
		</table>
	</div>

		<div class="col-xs-2">
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>送料</th>
						<td>
							800
						</td>
					</tr>
					<tr>
						<th>商品合計</th>
						<td><%= @total %></td>
					</tr>
					<tr>
						<th>請求金額</th>
						<td><%= @total + 800 %></td>
					</tr>
				</thead>
			</table>
		</div>

		<div class="col-xs-9">
			<h2>お支払い方法</h2>
			<%= @payment %>

			<h2>お届け先</h2>
			<%= @postal_code %>
			<%= @address %><br>
			<%= @name %>
		</div>

	<div class="col-xs-9">
		<%= link_to "注文する", client_user_thanks_path %>
	</div>
