
	<h2>ショッピングカート</h2><hr><br>

	<div class="col-xs-12">
		<% if @total == 0 %>
			<h3>カートは空です</h3>
			<%= link_to "買い物を続ける", root_path %>
		<% else %>

		<p><%= link_to "カートを空にする",@client_user_cart_path, method: :delete, class: "btn-sm btn-danger" %></p><br>
		<table class="table table-inverse">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計(税込)</th>
					<th colspan="1"></th>
				</tr>
			</thead>

			<tbody>
				<% @carts.each do |cart| %>
					<tr>
						<td><%= cart.product.name %></td>
						<td>¥<%= @price = (cart.product.price_excluding * @TAX).ceil %></td>
						<%= form_with(model:[@client_user,cart], local: true) do |f| %>
							<td>
								<%= f.select :quantity , [1,2,3,4,5,6,7,8,9,10] %>
								<%= f.submit "変更する", class: "btn btn-primary" %>
							</td>
							<td>¥<%= @price * cart.quantity %></td>
							<td><%= link_to "カートから商品を取り出す",client_user_cart_path(@client_user.id,cart.id), method: :delete, class: "btn-sm btn-danger" %></td>
						<% end %>
					</tr>
				<% end %>
			<tr>
				<td><%= link_to "買い物を続ける", root_path, {class: "btn btn-success"} %></td>
				<td></td>
				<td>合計金額</td>
				<td>¥<%= @total %></td>
				<td></td>
			</tr>
			</tbody>
		</table>

	<% end %>

		<div>
			<% if @total == 0 %>
			<% else %>
				<%= link_to "注文情報入力に進む", "/client_users/1/address_check", class: "btn btn-primary" %>
			<% end %>
		</div>

	</div>
