<div class="text-center">
    <div class="login">
      <div class="login-triangle"></div>

        <h2 class="login-header">管理者ログイン</h2>

        <div class="login-container">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <p><%= f.label :email %><br />
               <%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
            <p><%= f.label :password %><br />
               <%= f.password_field :password, autocomplete: "current-password" %></p>
            <p><% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %><%= f.label :remember_me %>
              <% end %></p>
            <p><%= f.submit "Log in" %></p>
          <% end %>
        </div>
        <%= render "admins/shared/links" %>
      </div>
    </div>
</div>