<h5>配送先登録/一覧</h5>


<div class="col-xs-9">
    <%= form_with model: [@client_user, @address] do |f| %>
  <table>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>届け先名</td>
        <td><%= f.text_field :name %></td>
      </tr>
  </table>
  <%= f.submit %>
  <%end %>
 
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">郵便番号</th>
        <th scope="col">住所</th>
        <th scope="col">宛名</th>
        <th></th>
      </tr> 
    <head>
    <body>
    <% @addresses.each do |address| %>
      <tr>
        <td> <%= address.postal_code %></td>
        <td> <%= address.address %></td>
        <td> <%= address.name %></td>
        <td>
          <%= link_to("編集",edit_client_user_address_path(current_client_user, address), {class: "btn btn-success"}) %>
          <%= link_to("削除", client_user_address_path(current_client_user, address), method: :delete, class: "btn btn-danger pull-right") %>
        </td>
      </tr>
    <% end %>
    </body>
  </table>
</div>