<h2 class="page-header text-center">新規商品登録画面</h2>

<div class="row text-center">
    <div class="col-xs-6">
            <%= simple_form_for(@product, url:admin_products_path, method: :post, local: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <div id="img_field" onClick="$('#file').click()">
                <% if @product.image.present? %>
                <%= image_tag(@product.image.url) %>
                <% else %>
                <i class="fas fa-images">画像を登録してください</i>
                <% end %>
            </div>
            <%= f.input :image, as: :file, label: false, input_html: { multiple: true, class: "d-none", id: "file" } %>
    </div>

    <div class="col-xs-6 ">
        <div class="form-group">
            <%= f.label :name, '商品名'%>
            <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :introduction, '商品説明' %>
            <%= f.text_area :introduction, class:"form-control input-lg" %>
        </div>
        <div class="form-group">
            <%= f.label :genre_id, 'ジャンル' %><br>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, class:"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :price_excluding%>
            <%= f.text_field :price_excluding, class:"form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :out_of_stock, '販売ステータス'%><br>
            <%= f.select :out_of_stock, [["販売中", 0], ["販売中止中", 1]], class:"form-control" %>
        </div>
    </div>

    <div class="col text-center">
        <%= f.submit "新規登録", class:"btn btn-primary"%>
    </div>
    <% end %>
</div>