
  
  <div class = "row">
    <h2 class="page-header text-center">マイページ</h2>
      
    <div class="col-xs-5">
      <h4>登録情報</h4>
      <%=link_to("編集する", edit_client_user_path, class: "btn btn-primary") %>
      <%=link_to("パスワードを変更する", edit_client_user_registration_path ,class: "btn btn-primary") %>
      <h4>配送先</h4>
        <%=link_to("一覧を見る", client_user_addresses_path(current_client_user.id), class: "btn btn-primary") %>
      <h4>注文履歴</h4>
        <%=link_to("一覧を見る", client_user_orders_path(current_client_user.id), class: "btn btn-primary") %>
    </div>
    <div class="container-fluid">
      <div class="col-xs-7">
        <table class="table">
            <tr>
              <th scope="row">氏名</th>
              <td>
                <%= @client_users.family_name %>
                <%= @client_users.first_name %>
              </td>
            </tr>
            <tr>
              <th scope="row" >カナ</th>
              <td>
              <%= @client_users.kana_family_name %>
              <%= @client_users.kana_first_name %>
              </td>
            </tr>
            <tr>
              <th scope="row">郵便番号</th>
              <td>
                <%= @client_users.postal_code %>
              </td>
            </tr>
            <tr>
              <th scope="row">住所</th>
              <td>
                <%= @client_users.address %>
              </td>
            </tr>
            <tr>
              <th scope="row">電話番号</th>
              <td>
                <%= @client_users.tel %>
              </td>
            </tr>
            <tr>
              <th scope="row">メールアドレス</th>
              <td>
                <%= @client_users.email %>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>