
<div class ="container">
	<div class="col-xs-3">
			<%= render 'products/genre', genres: @genres %>
		</div>
<p class="lead">商品一覧　全<%= @number %>件</p>
    <div class="col-xs-4">
        <table>
            <tr>
            </tr>
        </table>
        <table class="table table-striped table-hover table-inverse">
            <tbody>
                <tr>
                <% @products.each do |product| %>
                    <% if product.out_of_stock == false %>
                        <% if @loop == 2 %>
                                <td>
                                    <%= link_to(product) do %>
                                        <%= attachment_image_tag product.image_id, :image_id, fallback: "no_image.jpg",size: "300x300" %><br>
                                    <% end %>
                                    <%= link_to product.name, product_path(product.id) %><br>
                                    ¥<%= (product.price_excluding * @TAX).ceil %>円
                                </td>
                            </tr>
                            <tr>
                            <% @loop = 0 %>
                        <% else %>
                            <td>
                                <%= link_to(product) do %>
                                    <%= attachment_image_tag product.image_id, :image_id, fallback: "no_image.jpg",size: "300x300" %><br>
                                <% end %>
                                <%= link_to product.name, product_path(product.id) %><br>
                                ¥<%= (product.price_excluding * @TAX).ceil %>円
                            </td>
                            <% @loop += 1 %>
                        <% end %>
                    <% else %>
                    <% end %>
                <% end %>
                </tr>
            </tbody>
        </table>
        <table>
            <tr>
            </tr>
        </table>
    </div>
</div>

