<p class="lead">商品一覧<%= @number %></p>

    <table class="table table-striped table-hover table-inverse">
        <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td>
                        <%= link_to(product) do %>
                            <%= attachment_image_tag product.image_id, :image_id, fallback: "no_image.jpg",size: "100x100" %><br>
                        <% end %>
                        <%= link_to product.name, product_path(product.id) %><br>
                        ¥<%= (product.price_excluding * @TAX).ceil %>円
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @products %>
