<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<div class="row">
	<div class="col-xs-9">

		<table class="table">
			<tr>
				<td>
					<%= link_to (@product.id) do %>
						<%= attachment_image_tag(@product, :profile_image, :fill, 100, 100, fallback: "no-image.jpg") %><br>
					<% end %>
				</td>
				<td><%= @product.name %></td>
				<td><%= @product.introduction %></td>
				<td><%= @product.price_excluding %></td>
			</tr>
		</table>

		<%= form_for(@cart) do |f| %>
			<%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>
			<% if user_signed_in? %>
				<%= f.submit "カートに入れる" %>
			<% else %>
			<% end %>
		<% end %>
	</div>
</div>
