
	<div class="col-xs-2">
		<%= render 'products/genre', genre: @genre %>
	</div>

	<div class="col-xs-10">
		<h2 class="page-header text-center">商品紹介</h2>

		<table class="table">
			<tr>
				<th rowspan="2">
					<%= link_to (@product) do %>
						<%= attachment_image_tag(@product, :image, size: "400x400", fallback: "no_image.jpg") %><br>
					<% end %>
				</th>
				<td colspan="2">
					<h1><strong><%= @product.name %></strong></h1>
					<h4><%= @product.introduction %></h4>
					<h2>￥<%= @price %>(税込)</h2>
				</td>
			</tr>

			<tr>
				<% if client_user_signed_in? %>
					<td colspan="2">
						<%= form_with(model:[@client_user,@cart]) do |f| %>
							注文数：<%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], class: "col-xs-9 book_body" %><br><br><br>
							<%= f.submit "カートに入れる", class: "btn btn-primary" %>
							<%= f.hidden_field :product_id_delivary , :value => @product.id %>
						<% end %>
					</td>
				<% else %>
				<% end %>
			</tr>
		</table>
	</div>
</div>