<!DOCTYPE html>
<html>

<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <nav class="navbar navbar-default" style="background-color: #222;">
            <div class="container">
                <nav class="nav navbar-nav navbar-left">
                    <img src="/assets/NaganoCakeLogo.jpeg" alt="">
                </nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to("商品一覧", admin_products_path, {class: "glyphicon glyphicon-home"}) %>
                    </li>
                    <li><%= link_to("会員一覧", admin_client_users_path, {class: "glyphicon glyphicon-user"}) %></li>
                    <li><%= link_to("注文履歴一覧", admin_orders_index_path, {class: "glyphicon glyphicon-book"}) %>
                    </li>
                    <li><%= link_to("ジャンル一覧", admin_genres_path, {class: "glyphicon glyphicon-user"}) %></li>
                    <li>
                        <%= link_to("ログアウト", destroy_admin_session_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">

        <%= flash[:notice] %>
        <%= yield %>

    </div>
</body>

</html>